/*#######################################################*/
/*Global*/
/*#######################################################*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Mina|Playfair+Display|Titillium+Web');

h1, h2, h3, h4, h5, p, text, span {
  font-family: Mina;
}

html {
  background-color: #cbe3e4;
}
/*///////End//////////*/


/*#######################################################*/
/*Headers and Footers*/
/*#######################################################*/
.App-header {
  display: flex;
  justify-content: space-between;
  background-color: #8cc5b5;
  height: 150px;
  padding: 20px;
  color: white;
}

.header-icons {
  max-width: 100px;
}

.footer {
  background-color: #8cc5b5;
  font-size: 10px;
}

@media only screen and (max-width : 575px) {
  .App-header img{
    max-width: 35px;
  }
}
/*///////End//////////*/


/*#######################################################*/
/*Main Content*/
/*#######################################################*/
.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App-content {
  flex: 1;
}
/*///////End//////////*/


/*#######################################################*/
/*User Info*/
/*#######################################################*/
.user-image {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.user-image img {
  border-radius: 71px;
  max-height: 175px;
}

.user-info, .user-followers{
  display: flex;
  justify-content: space-around;
  margin-top: 14px;
}

.user-info h2 {
  background-color: #85c1c1;
  border-radius: 9px;
  padding: 15px;
  border-style: solid;
  border-width: 1px;
}
/*///////End//////////*/


/*#######################################################*/
/*Follower Info*/
/*#######################################################*/
.followers-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.followers-list__image {
  max-width: 50px;
  border-radius: 6px;
}

.followers-list__item {
  margin-bottom: 10px;
  cursor: pointer;
  min-width: 250px;
}

.followers-list__handle {
  font-weight: bold;
  font-size: 23px;
}

.page-selectors {
  display: flex;
  justify-content: space-around;
  margin-left: 20%;  
  margin-right: 20%;
}

.page-arrows {
  cursor: pointer;
}
/*///////End//////////*/


/*#######################################################*/
/*User Input*/
/*#######################################################*/
.text-form {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Mina;
}

.input__text-field {
  height: 20px;
  width: 63%;
  font-family: Mina;
  font-size: 16px;
  box-shadow: 0px 8px 23px 1px teal;
  -moz-box-shadow: 0px 8px 23px 1px teal;
  -webkit-box-shadow: 0px 8px 23px 1px teal;
}

.submit-form {
  font-family: Mina;
  margin-left: 10px;
  height: 27px;
  width: 76px;
  border-radius: 4px;
}
/*///////End//////////*/


/*#######################################################*/
/*Errors*/
/*#######################################################*/
.error-message {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

.guillermo {
  border-top: dashed;
  border-color: #8cc5b5;
  text-align: center;
}

.guillermo video {
  margin-left: 0%;
  margin-right: 0%;
  max-width: 200px;
  clear: both;
}
/*///////End//////////*/